/* Start GLOBAL RULES  */
* {
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    --o-box-sizing: border-box;
    --ms-box-sizing: border-box;
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}
/* End GLOBAL RULES  */
body {
    font-family: 'Open Sans', sans-serif;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    margin: 20px 10px;
}

.product {
    cursor: pointer;
}
.product:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
.product img {
    max-width: 100%;
    margin-bottom: 5px;
}

.product-stars p{
    font-size: 18px;
    margin: 3px 0;
    color: rgb(167, 167, 19);
}
.invoice .title , .orders , .btn-p , .t-price {
    display: none;
}
.invoice h2,.orders{
    padding: 5px;
    text-align: center;
    border: 2px solid black;
}
.btn-p{
    margin: 20px 0;
    padding: 15px;
    width: 100%;
    font-size: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
}
